@charset "utf-8";

// Greens
$flat-turquoise: #1abc9c;
$flat-green-sea: #16a085;
$flat-emerald: #2ecc71;
$flat-nephritis: #27ae60;

$aui-success: #009688;

// Blues
$flat-peter-river: #3498db;
$flat-belize-hole: #2980b9;
$flat-wet-asphalt: #34495e;
$flat-midnight-blue: #2c3e50;

$aui-primary: #00bcd4;
$aui-info: #03a9f4;
$aui-indigo: #3f51b5;

// Purples
$flat-amethyst: #9b59b6;
$flat-wisteria: #8e44ad;

$aui-purple: #673ab7;

// Yellows
$flat-sunflower: #f1c40f;

$aui-warning: #ffc107;

// Oranges
$flat-orange: #f39c12;
$flat-carrot: #e67e22;
$flat-pumpkin: #d35400;

// Reds
$flat-alizarin: #e74c3c;
$flat-pomegranate: #c0392b;

$aui-pink: #e91e63;
$aui-danger: #e51c23;

// Grays
$flat-clouds: #ecf0f1;
$flat-silver: #bdc3c7;
$flat-concrete: #95a5a6;
$flat-asbestos: #7f8c8d;
$flat-default: #302e2e;

$aui-default: #212121;

$web-white: $flat-clouds;
$web-black: $aui-default;

// Pantone
$pantone-2000: #91add2;
$pantone-2001: #c1336d;
$pantone-2002: #b51231;
$pantone-2003: #75c9cb;
$pantone-2004: #e05136;
$pantone-2005: #47aeaa;
$pantone-2006: #dccabc;
$pantone-2007: #981028;
$pantone-2008: #4d54a0;
$pantone-2009: #ebbb3f;
$pantone-2010: #36b6a1;
$pantone-2011: #d1436b;
$pantone-2012: #d93210;
$pantone-2013: #3f9975;
$pantone-2014: #b266a4;
$pantone-2014: #9a4f4a;
$pantone-2016-1: #f0cac7;
$pantone-2016-2: #90a8ce;
$pantone-2017: #85af4b;
$pantone-2018: #675194;
$pantone-2019: #fe6e63;
$pantone-2020: #033447;
