@charset "utf-8";

// Greens
$flat-turquoise: #1abc9c;
$flat-green-sea: #16a085;
$flat-emerald: #2ecc71;
$flat-nephritis: #27ae60;

$aui-success: #009688;

// Blues
$flat-peter-river: #3498db;
$flat-belize-hole: #2980b9;
$flat-wet-asphalt: #34495e;
$flat-midnight-blue: #2c3e50;

$aui-primary: #00bcd4;
$aui-info: #03a9f4;
$aui-indigo: #3f51b5;

// Purples
$flat-amethyst: #9b59b6;
$flat-wisteria: #8e44ad;

$aui-purple: #673ab7;

// Yellows
$flat-sunflower: #f1c40f;

$aui-warning: #ffc107;

// Oranges
$flat-orange: #f39c12;
$flat-carrot: #e67e22;
$flat-pumpkin: #d35400;

// Reds
$flat-alizarin: #e74c3c;
$flat-pomegranate: #c0392b;

$aui-pink: #e91e63;
$aui-danger: #e51c23;

// Grays
$flat-clouds: #ecf0f1;
$flat-silver: #bdc3c7;
$flat-concrete: #95a5a6;
$flat-asbestos: #7f8c8d;
$flat-default: #302e2e;

$aui-default: #212121;

$web-white: $flat-clouds !default;
$web-black: $aui-default !default;

// SH Subway
$sh-line-01: #e3002a;
$sh-line-02: #86b81c;
$sh-line-03: #fcd600;
$sh-line-04: #5a2b8d;
$sh-line-05: #96499a;
$sh-line-06: #f0087d;
$sh-line-07: #ee782e;
$sh-line-08: #01a2e2;
$sh-line-09: #69c7f4;
$sh-line-10: #c6afd4;
$sh-line-11: #871c2a;
$sh-line-12: #007a61;
$sh-line-13: #eb81b9;
$sh-line-16: #98d1c0;
$sh-line-17: #b85a4e;
$sh-line-MT: #008187;
$sh-line-MP: #b5b5b6;

// Pantone
$pantone-2000: #9bb7d4;
$pantone-2001: #c74375;
$pantone-2002: #bf1932;
$pantone-2003: #7bc4c4;
$pantone-2004: #e2583e;
$pantone-2005: #53b0ae;
$pantone-2006: #decdbe;
$pantone-2007: #9b1b30;
$pantone-2008: #5a5b9f;
$pantone-2009: #f0c05a;
$pantone-2010: #45b5aa;
$pantone-2011: #d94f70;
$pantone-2012: #dd4124;
$pantone-2013: #009473;
$pantone-2014: #ad5e99;
$pantone-2014: #964f4c;
$pantone-2016-1: #f7cac9;
$pantone-2016-2: #91a8d0;
$pantone-2017: #88b04b;
$pantone-2018: #5f4b8b;
$pantone-2019: #ff6f61;
$pantone-2020: #0f4c81;
$pantone-2021-1: #97999b;
$pantone-2021-2: #f9e547;
