@charset "utf-8";

@import 'mixin';

body {
    @include full-size;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

button,
summary,
video {
    outline: none;
}

i,
.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.text-c {
    text-align: center;
}

.font-b {
    font-weight: bold;
}

#root {
    @include full-size;
}
