@charset "utf-8";

@import 'mixin';

html {
    overflow: hidden;
}

body {
    font-family: Helvetica, Tahoma, Arial, 'Microsoft YaHei', '微软雅黑', SimSun,
        '宋体', sans-serif;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

i,
.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.text-c {
    text-align: center;
}

.font-b {
    font-weight: bold;
}

#root {
    @include full-size;
}
